@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.app_layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &-header {
        background: $header-bg;
        color: $text-color-light;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 2rem;

        &-block {
            padding: 0 2rem;
        }
    }

    &-content {
        flex: 1 0 auto;
        display: flex;
        @media only screen and (max-width: $screen-mobile) { 
            flex-flow: column wrap;
        }
    }

    &-footer {
        width: 100%;
        height: 3rem;
        background: $header-bg;
        color: $text-color-light;
        font-size: 1rem;
        line-height: 1rem;

        &-block {
            padding: 1rem 2rem;
        }
    }
}

.main {
    &-content {
        flex: 1 0 75%;
        text-align: center;
        @media only screen and (max-width: $screen-mobile) { 
            flex: 1 0 100%;
        }
    }

    &-aside {
        flex: 1 0 25%;
        background: $aside-bg;
        @media only screen and (max-width: $screen-mobile) { 
            flex: 1 0 100%;
        }
    }
}