//sizes
$container: 1170px;
$screen-mobile: 1151px;

//typography
$font: 1rem;

//colors
$header-bg: #1F2337;
$aside-bg: #efefef;
$text-color: #222;
$text-color-light: #fff;
$bg-color: #fefefe;
$screen-bg: #409fff;

//transition
$transition: all ease-in-out .25s;

//colors place
$place-reserved-border: #000;
$place-inactive-opacity: .5;
$place-common: rgb(131, 243, 131);
$place-good: rgb(235, 192, 113);
$place-vip: rgb(250, 156, 156);

//ticket colors
$ticket-bg: #fff;
$ticket-border: #555;
$ticket-stripe-1: $ticket-bg;
$ticket-stripe-2: #3D6F8E;
$ticket-stripe-3: #EE617D;

//purchase button
$purchase-button-bg: #f5768c;
$purchase-button-bg--disabled: #dbdbdb;
$purchase-button-color: #ffffff;