.cart {
    height: 100%;
}

.cart_block {    
    display: flex;
    flex-direction: column;    
    padding: 2rem 2rem 0;
    height: calc(100% - 2rem);    
    overflow: hidden;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        &-title {
            font-size: 2rem;
        }
    }

    &-tickets-list {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &-purchase {        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 1rem 0;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -2rem;
            height: 1px;
            background: $ticket-border;
            width: calc(100% + 4rem);
        }
        &-title {
            font-size: 1rem;
        }
        &-button-block {
            width: 100%;
            padding: 1rem 0;
        }
    }
}

.cart_ticket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid $ticket-border;
    background: $ticket-bg;
    position: relative;
    margin-bottom: 1rem;

    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: .5rem;
        height: 100%;
        background-image: linear-gradient(45deg, $ticket-stripe-1 12.50%, $ticket-stripe-2 12.50%, $ticket-stripe-2 25%, $ticket-stripe-1 25%, $ticket-stripe-1 37.50%, $ticket-stripe-3 37.50%, $ticket-stripe-3 50%, $ticket-stripe-1 50%, $ticket-stripe-1 62.50%, $ticket-stripe-2  62.50%, $ticket-stripe-2  75%, $ticket-stripe-1 75%, $ticket-stripe-1 87.50%, $ticket-stripe-3 87.50%, $ticket-stripe-3 0%);
    }

    &-price {
        font-size: 1.15rem;
        font-weight: bold;
        margin-left: 2rem;
    }

    &-delete {
        $delete-size: 18px;
        font-size: 14px;
        height: $delete-size;
        line-height: $delete-size;
        width: $delete-size;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #777;
        color: black;
        transition: all ease .2s;
        cursor: pointer;
        &:hover {
            background: rgb(250, 178, 178);
        }
    }
}

.purchase_button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: $purchase-button-bg;
    padding: .5rem 1rem;
    font-size: 2rem;
    color: $purchase-button-color;
    cursor: pointer;
    &:hover {
        background: darken($purchase-button-bg, 10%);
    }
    &--disabled, &--disabled:hover {
        background: $purchase-button-bg--disabled;
        cursor: default;
    }
}