.hall {
    padding: 2rem;

    @media only screen and (max-width: $screen-mobile) {
        padding: 0;
    }
}

.screen {
    &-block {
        text-align: center;
        width: 100%;
        padding: 2rem 0;

        @media only screen and (max-width: $screen-mobile) {
            padding: .5rem;
            width: 80%;
            margin: 0 auto;
        }
    }

    &-view {
        margin: 0 auto;
        border: 10px solid $screen-bg;
        width: 60%;
        height: 50px;
        padding: 0.5em;
        border-radius: 35%;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;

        @media only screen and (max-width: $screen-mobile) {
            width: 80%;
            height: 1rem;
        }
    }
}

.legend-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto 0;
    width: 50%;

    @media only screen and (max-width: $screen-mobile) {
        width: calc(100% - 2rem);        
        margin: 1rem auto;
    }
}

.hall-place {
    display: flex;
    width: calc((24px + 5px) * 10 + 100px);
    margin: 0 auto;
    @media only screen and (max-width: $screen-mobile) { 
        width: auto;
    }
}

.places-row {
    flex: 1 0 40px;
    height: 100%;
    justify-content: space-between;
    @media only screen and (max-width: $screen-mobile) { 
        display: none;
    }

    &>div {
        flex: 1;
        height: 22px;
        line-height: 22px;
        margin: 5px auto 0;
        position: relative;
        font-size: 13px;
        border-radius: 3px;
        border: 1px solid #777;
        color: #333;
        opacity: .5;
    }
}


.places-block {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 2rem;
}

.places-area {
    flex: 1 0 10%;
    user-select: none;

    &.reserved .place {
        border: 1px solid $place-reserved-border;
    }

    &.booked .place {
        opacity: $place-inactive-opacity;
    }
}

.place {
    transition: $transition;
    border: 1px solid $bg-color;
    $place-width: 24px;
    width: $place-width;
    height: $place-width;
    line-height: $place-width;
    border-radius: 4px;
    margin: 3px auto 0;
    cursor: pointer;

    @each $place-name,
    $place-color in (common, $place-common),
    (good, $place-good),
    (vip, $place-vip) {
        &-#{$place-name} {
            background: $place-color;
        }
    }
}

.clock {
    margin: .5rem 0 0;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}