<template>
  <span>
    {{ length }}
    <span>ticket{{ length > 1 ? 's' : '' }}</span>
    <span class="cart_ticket-price">{{ totalPrice }} $</span>
  </span>
</template>

<script>
export default {
  name: 'CartTotalPrice',
  props: ['length', 'totalPrice']
}
</script>

<style scoped></style>
