<template>
  <div class="cart_block-tickets-list">
    <transition-group name="fade" mode="out-in" tag="div">
      <div class="cart_ticket" :key="ticket.id" v-for="ticket in ticketsInCart">
        <div class="cart_ticket-row">{{ ticket.row }} row</div>
        <div class="cart_ticket-place">{{ ticket.place }} place</div>
        <div class="cart_ticket-price">{{ ticket.price }} $</div>
        <div class="cart_ticket-delete" @click="onItemClick(ticket)">x</div>
      </div>
    </transition-group>
  </div>
</template>

<script>
export default {
  name: "CartTicketsAnimatedList",
  props: ['ticketsInCart', 'onItemClick']
}
</script>

<style lang="scss">
.fade-enter {
  opacity: 0;
  transform: scale3d(2, 0.5, 1) translate3d(200px, 0, 0);
}
.fade-enter-to {
  transform: scale3d(1, 1, 1);
}
.fade-enter-active {
  transition: 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.fade-leave-active {
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.fade-leave {
  transform: scale3d(1, 1, 1);
}
.fade-leave-to {
  opacity: 0;
  transform: scale3d(2, 0.5, 1) translate3d(-200px, 0, 0);
}
</style>
