<template>
  <button
      class="purchase_button"
      :class="{ 'purchase_button--disabled': !length }"
      :disabled="!length"
      @click="onCheckOut"
  >
    Checkout
  </button>
</template>

<script>
export default {
  name: "CartPurchaseButton",
  props: ['length', 'onCheckOut']
}
</script>

<style scoped>

</style>
