<template>
  <div class="legend-block">
    <div class="place place-vip"></div>
    <div>VIP - 20 $</div>
    <div class="place place-good"></div>
    <div>Good - 15 $</div>
    <div class="place place-common"></div>
    <div>Common - 10 $</div>
  </div>
</template>

<script>
export default {
  name: "Legend"
}
</script>
