<template>
  <div class="places-block">
    <div
        class="places-area"
        :class="{ reserved: ticket.reserved, booked: ticket.booked }"
        :key="ticket.id"
        v-for="ticket in tickets"
        @click="onItemClick(ticket)"
    >
      <div v-if="ticket.sectionName === 'Common'" class="place place-common">
        {{ ticket.place }}
      </div>
      <div v-else-if="ticket.sectionName === 'Good'" class="place place-good">
        {{ ticket.place }}
      </div>
      <div v-else-if="ticket.sectionName === 'VIP'" class="place place-vip">
        {{ ticket.place }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Places",
  props: ['tickets', 'onItemClick']
}
</script>

<style scoped>

</style>
