<template>
  <div id="app">
    <div class="app_layout">
      <Header />
      <div class="app_layout-content">
        <div class="main-content">
          <div class="hall">
            <Screen />
            <div class="hall-place">
              <Rows />
              <Places :tickets="tickets" :on-item-click="onItemClick" />
            </div>
            <Legend />
          </div>
        </div>
        <div class="main-aside">
          <div class="cart">
            <div class="cart_block">
              <div class="cart_block-header">
                <div class="cart_block-header-title">Tickets:</div>
                <div class="cart_block-header-summary">
                  <CartTotalPrice :length="ticketsInCart.length" :totalPrice="cartTotalPrice" />
                </div>
              </div>
              <CartTicketsAnimatedList
                :ticketsInCart="ticketsInCart"
                :on-item-click="onItemClick"
              />
              <div class="cart_block-purchase">
                <div class="cart_block-purchase-title">Tickets:</div>
                <div class="cart_block-purchase-summary">
                  <CartTotalPrice :length="ticketsInCart.length" :totalPrice="cartTotalPrice" />
                </div>
                <div class="cart_block-purchase-button-block">
                  <CartPurchaseButton :length="ticketsInCart.length" :on-check-out="onCheckOut" />
                  <div class="clock" v-if="clock">Time to Checkout: {{ clock }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Footer />
    </div>
  </div>
</template>

<script>
import tickets from '@/tickets'
import {
  TIME_S_FOR_ORDER,
  ERROR_TICKETS_AMOUNT,
  ERROR_TICKETS_BOOKED,
  SUCCESS_TICKETS_BOOKED
} from '@/constants'
import Legend from '@/components/Legend.vue'
import Places from '@/components/Places.vue'
import Screen from '@/components/Screen.vue'
import Rows from '@/components/Rows.vue'
import CartTicketsAnimatedList from '@/components/CartTicketsAnimatedList.vue'
import CartTotalPrice from '@/components/CartTotalPrice.vue'
import CartPurchaseButton from '@/components/CartPurchaseButton.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'Home',
  components: {
    Header,
    Footer,
    CartPurchaseButton,
    CartTotalPrice,
    CartTicketsAnimatedList,
    Rows,
    Screen,
    Places,
    Legend
  },
  data() {
    return {
      tickets,
      orderTime: null,
      secToReset: null
    }
  },
  mounted() {
    this.loadDataFromStorage()
    this.initTimer()
  },
  methods: {
    loadDataFromStorage() {
      if (!localStorage.tickets) return
      try {
        this.tickets = JSON.parse(localStorage.tickets)
      } catch (e) {}
    },
    saveToStorage() {
      localStorage.tickets = JSON.stringify(this.tickets)
    },
    initTimer() {
      setInterval(() => {
        if (!this.orderTime) return

        this.secToReset = TIME_S_FOR_ORDER - Math.round((Date.now() - this.orderTime) / 1000)
        if (this.secToReset <= 0) {
          this.resetOrderTime()
          this.resetReservation()
        }
      }, 1000)
    },

    resetReservation() {
      this.tickets.forEach((x) => (x.reserved = false))
      this.saveToStorage()
    },
    onItemClick(item) {
      if (this.ticketsInCart.length >= 4 && !item.reserved)
        return this.showError(ERROR_TICKETS_AMOUNT)

      if (item.booked) return this.showError(ERROR_TICKETS_BOOKED)

      item.reserved = !item.reserved

      if (this.ticketsInCart.length === 1 && item.reserved) this.setOrderTime()
      if (!this.ticketsInCart.length) this.resetOrderTime()

      this.saveToStorage()
    },
    onCheckOut() {
      this.ticketsInCart.forEach((x) => {
        x.reserved = false
        x.booked = true
      })
      this.resetOrderTime()

      this.showSuccessMsg(SUCCESS_TICKETS_BOOKED)
      this.saveToStorage()
    },
    showError(text) {
      this.$swal({ type: 'error', title: 'Oops...', text })
    },
    showSuccessMsg(text) {
      this.$swal({ type: 'success', title: 'Great!', text })
    },
    setOrderTime() {
      this.orderTime = Date.now()
    },
    resetOrderTime() {
      this.orderTime = null
      this.secToReset = null
    }
  },
  computed: {
    ticketsInCart() {
      return this.tickets.filter((x) => x.reserved)
    },
    cartTotalPrice() {
      if (!this.ticketsInCart.length) return 0

      return this.ticketsInCart.map((x) => x.price).reduce((total, amount) => total + amount, 0)
    },
    clock() {
      if (!this.secToReset) return ''

      const addZero = (n) => (n >= 10 ? n : '0' + n)
      const s = this.secToReset

      const min = Math.floor(s / 60)
      const sec = s % 60
      return `${addZero(min)}:${addZero(sec)}`
    }
  }
}
</script>
